input[type=text], input[type=submit], button {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Rouge Script';
}
input[type=checkbox], #details{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-family: 'Rouge Script';
}
input[type=submit], button {
    background-color: #123456;
    color: white;
    cursor: pointer;
    float: left;   
    
}
#title_header{ 
    background-color: #123456;
    color: #CEF0D4; 
    font-family: 'Rouge Script';
    font-size: 35px;  
    margin-top: 40px; 
    text-align: left; 
    text-shadow: 0 1px 1px #fff; 
}
label {
    color: #987654; 
    font-family: 'Rouge Script';
    margin-top: 5px;
}