input[type=text], input[type=date], select, input[type=submit] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=radio], #genderBox{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
}
input[type=submit] {
    background-color: #123456;
    color: white;
    cursor: pointer;
    float: left;    
}
#form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#title_header{
    font-family: "Arial", "Helvetica";
    font-size: 25px;
}
#web_header{    
    background-color: black;
    color: white;   
}
#form_header{
     background-color: orange;
    color: black;        
}
.rem{
    background-color: firebrick;
    cursor: pointer;
    
}

#formTable tr:nth-child(even){
    background-color: cadetblue;
}